<div id="games">
<div id="userinfo">
 Welcome <%= current_user.email %>!<br><br>
 <br>
</div>
<% Game.all.each do |game| %>
    <% if game.id == current_user.game&.id %>
    <div id ="currentgame">
    Game: <%= game.id %> (Your current game!)
    <a href="/games/<%= game.id %>/play">
        <button class="join">Rejoin</button>
    </a>
    <hr>
    </div>
    <% else %>
    <div id ="gamenumber">
    Game: <%= game.id %>
    <a href="/games/<%= game.id %>/play">
        <button class="join">Join</button>
    </a>
    <hr>
    </div>
<% end %>
<% end %>
</div>