
Game: <span id="game_id"><%= current_user.game.id %></span> Player:
<span id="player_id"><%= current_user.id %></span> Join order:
<span id="player_join_order"><%= current_user.join_order %></span>

<div class="gameBox">
  <div class="gameBoxHeader">
    <div class="cardTzar">Card Tzar: <%= @cardTzar %></div>
    <div class="lobbyNumber">Lobby Number: <%= current_user.game.id %></div>
  </div>

  <div class="mainText clear" id="text">
    <span class="startbutton">
    <button class="btn btn-outline-light btn-lg" onClick="startGameButton()">
      Start Game
    </button>
  </span>
  </div>

  <div class="game_area" id="game_area">
    <br />
    <div class="row" id="startingScreen">
      <div class="deck-drop" id="card-drop" style="opacity: 50;">Drag Card Here</div>
      <div id="face-down-whites"></div>
    </div>
  </div>

</div>
<br>
<div class="row" id="white-cards"></div>

<br /><br />
<div class="row table-responsive">
  <table class="table" id="table">
    <thead>
      <th>Player</th>
      <th>Score</th>
      <th>Card Submitted</th>
      <th>Card Tzar</th>
    </thead>
    <tbody id="playerList">
    </tbody>
  </table>
</div>
<button class="btn btn-outline-dark btn-lg" onClick="">Leave Game</button>
<script>
  var playerId = <%= current_user.id %>;
  var cardTzarId = <%= @cardTzar %>;
  var gameId = <%= @game.id %>;
  var whiteCards = [];
  var blackCard;
  var gameState = "<%= @game.state %>";

  var players = {
    <% @players.each do |player| %>
      <%= player.id %>: {
        email: "<%= player.email %>",
        points: <%= player.game_points %>,
        order: <%= player.join_order %>,
        played: <%= player.played_card? %>,
      },

    <% end %>
  };
  window.onload = function(){
    $(".startButton").hide();
    if(playerId == cardTzarId){
      $(".startButton").show();
    }else{
      document.getElementById("text").innerHTML = "Wait for Card Tzar to start game.";
      $(".startButton").fadeIn(750);
    }
    $(".gameBox").css("height", "300px");
    $(".game_area").hide();

    if(gameState != "setup"){
      $(".gameBox").css("height", "550" );
      $(".game_area").fadeIn(750);
    }
    
  }


  initCardDropListener();

  evaluateCardTzar();
  renderPlayerList();
  getWhiteCards(function(){
    addPlayedCard(<%= current_user.get_played_card&.id || -1 %>, "<%= current_user.get_played_card&.text %>");
    enablePickingButtons();
  });
  getBlackCard();
  addFakeWhiteCard(<%= @game.white_played.where.not(user: current_user).count %>);

  <% if @game.state == "picking" %>
    showPlayedCards(<%= @game.white_played.to_json.html_safe %>)
  <% end %>

  function startGameButton(){

      $.get("/games/" + gameId + "/startgame", function( data ) {
        
      });

  }
</script>
