Game: <span id="game_id"><%= current_user.game.id %></span>
Player: <span id="player_id"><%= current_user.id %></span>
Join order: <span id="player_join_order"><%= current_user.join_order %></span>

<div class="row">
  <ul id="playerList">
  </ul>
</div>

<div class="row" id="startingScreen">
    <span class="startButton" style="display: none">
      <button onClick="startGameButton()">Start Game</button>
    </span>
</div>

<div class="row">
  <div id="black-card">
    <div class="card">
      <div class="card-body bg-dark">
        <p class="card-text" id="black-card-text"></p>
      </div>
    </div>
  </div>

  <div class="deck-drop" id="card-drop">
  </div>

  <div id="face-down-whites">

  </div>
</div>
<hr>
<div class="row" id="white-cards">
</div>


<script>
var playerId = <%= current_user.id %>;
var cardTzarId = <%= @cardTzar %>;
var gameId = <%= @game.id %>;
var whiteCards = [];
var blackCard;
var gameState = "<%= @game.state %>";

var players = {
  <% @players.each do |player| %>
    <%= player.id %>: {
      email: "<%= player.email %>",
      points: <%= player.game_points %>,
      order: <%= player.join_order %>,
      played: <%= player.played_card? %>,
    },
  <% end %>
};

initCardDropListener();

evaluateCardTzar();
renderPlayerList();
getWhiteCards(function(){
  addPlayedCard(<%= current_user.get_played_card&.id || -1 %>, "<%= current_user.get_played_card&.text %>");
  enablePickingButtons();
});
getBlackCard();
addFakeWhiteCard(<%= @game.white_played.where.not(user: current_user).count %>);

<% if @game.state == "picking" %>
  showPlayedCards(<%= @game.white_played.to_json.html_safe %>)
<% end %>

function startGameButton(){
  $.get("/games/" + gameId + "/startgame", function( data ) {
  });
}

</script>
